.signup{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background:linear-gradient(to right ,rgb(8, 121, 187),white);
}
.signup h4{
    text-align: center;
    color: white;
}
.signup form{
    width: 40%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(71, 148, 187);
    box-shadow: 1px 2px 4px rgb(0, 0, 0);


}
.signup input{
    margin-bottom: 10px;
}

.signup .btn{
  text-align: center;
}
