.home{
    background-color: rgb(154, 219, 24);
    min-height:100vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home h5{
    text-align: center;
}
.home form{
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;

}
input{
    text-align: center;
}
.list{
    margin-top: 10px;
    width: 35%;
  
}
.list ul{
    padding: 0;
    margin: 0;
}
.list li{
    
    height: 30px;
    list-style: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 4px black;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.list span{
    font-weight: 600;
    flex: 7;
}

.list .delete{
    flex: 1;
}

.list .delete:hover{
    color: rgb(248, 9, 9);
}
.logout{
    width: 100%;
    position: absolute;
    padding: 20px;
    color: red;
    font-size:xx-large;
    display: flex;
    justify-content: flex-end;
}
.logout i:hover{
    cursor: pointer;
    text-shadow: 1px 2px 4px rgb(0, 0, 0);
}